[submodule "ip/tech_sky130B"]
	path = ip/tech_sky130B
	url = https://github.com/wulffern/tech_sky130B
	branch = main
[submodule "ip/cicsim"]
	path = ip/cicsim
	url = https://github.com/wulffern/cicsim
	branch = main
[submodule "ip/cpdk"]
	path = ip/cpdk
	url = https://github.com/wulffern/cpdk
	branch = main
[submodule "ip/rply_ex0_sky130nm"]
	path = ip/rply_ex0_sky130nm
	url = https://github.com/wulffern/rply_ex0_sky130nm
	branch = main
[submodule "ip/cicconf"]
	path = ip/cicconf
	url = https://github.com/wulffern/cicconf
	branch = main
