[submodule "models/skywater-pdk-libs-sky130_fd_pr"]
	path = models/skywater-pdk-libs-sky130_fd_pr
	url = https://github.com/google/skywater-pdk-libs-sky130_fd_pr.git
[submodule "externals/xschem_sky130"]
	path = externals/xschem_sky130
	url = https://github.com/wulffern/xschem_sky130
[submodule "externals/xschem_sky130/"]
	branch = main
